@page "/fetchdata"

<PageTitle>Branch Lifespan</PageTitle>

@using github_branch_lifetime.Data
@inject BranchLifespanService BranchLifespanService

<h1>Average Branch Lifespan</h1>

<p>Immoscout24 Branch Lifespan</p>

@if(model == null)
{
    <p><em>Loading...</em></p>
}
else if(model.Branches.Count == 0)
{
    <p><em>No branches exist...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Branch Name</th>
                <th>CreatedAt</th>   
                <th>MergedAt</th>                
                <th># of commits</th>
                <th># of line changes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var branch in model.Branches)
            {
                <tr>
                    <td>@branch.Name</td>                    
                    <td>@branch.CreatedAt</td>                    
                    <td>@branch.MergedAt</td>
                    <td>@branch.NrOfCommits</td>
                    <td>@branch.NrOfLinesChanged</td>                    
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private BranchViewModel? model;

    protected override async Task OnInitializedAsync()
    {
        model = await BranchLifespanService.GetCurrentBranchLifespan();
    }
}